<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- These package sources will get imported into visual studio when opening the solution -->
    <add key="EPiServer" value="http://nuget.episerver.com/nuget" />
    <add key="Local Packages" value="..\Local Packages" />
  </packageSources>
</configuration>