<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings globalErrorHandling="RemoteOnly" disableVersionDeletion="false"
    httpCacheability="Public" uiEditorCssPaths="" urlRebaseKind="ToRootRelative"
    pageUseBrowserLanguagePreferences="false" uiShowGlobalizationUserInterface="true"
    subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
    uiMaxVersions="20" pageValidateTemplate="false" utilUrl="~/util/"
    uiUrl="~/episerver/CMS/" />
</episerver>